/* 
font-family: 'DM Serif Display', serif;
font-family: 'Roboto Condensed', sans-serif; 
400, 700
font-family: 'Roboto Slab', serif;
300, 700
font-family: 'Reenie Beanie', cursive;
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    background-color: #000;
    overflow-x: hidden;

    max-width: 1440px;
}

.length1 {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    height: 20px;
    width: 1366px;
    background-color: #ffffff80;
    z-index: 999999;
}

.length2 {
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    height: 20px;
    width: 1440px;
    background-color: #ff000080;
    z-index: 999999;
}

.length3 {
    position: fixed;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    height: 20px;
    width: 1680px;
    background-color: #00ff0080;
    z-index: 999999;
}

.length4 {
    position: fixed;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    height: 20px;
    width: 100%;
    background-color: #0000ff80;
    z-index: 999999;
}

.first-line::after {
    content: "\a";
    white-space: pre;
}

.bold {
    font-weight: 700;
}

/* navigation */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 30px;
    background-color: #2C2C2C80;
    backdrop-filter: blur(1px);
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    z-index: 999;

    max-width: 1440px;
}

.navbar__logo-wrapper {
    display: flex;
    align-items: center;
}

.navbar__logo {
    margin-right: 30px;
}

.menu {
    flex: 1;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.menu__item {
    padding-right: 50px;
}

.menu__link {
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 700px;
    text-transform: uppercase;
    text-decoration: none;
    transition: .3s;
}

.menu__link:hover {
    color: #ff0000;
}

.language {
    position: relative;
}

.language__item {
    display: none;
}

.language__item--active {
    display: block;
}

.language__arrow {
    position: absolute;
    top: 46px;
    left: 50%;
    height: 5px;
    transform: translateX(-50%);
    cursor: pointer;
    transition: .3s;
}

.language__arrow:hover {
    height: 8px;
}

/* header */

.header {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.header__logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.header__meat1 {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.header__meat2 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -2;
}

.header__pepper {
    position: absolute;
    top: 60%;
    left: 36%;
}

.header__sausages {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.button {
    position: absolute;
    right: 0;
    top: 30%;
    width: 80px;
    height: 160px;
    transform: translateY(0);
    background-color: #fff;
    border-radius: 25px 0 25px 0;
    cursor: pointer;
    animation: bounce 1s alternate cubic-bezier(.5, 0.05, 1, .5) infinite;
}

.button__icon {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button__element {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #ff0000;
    border-radius: 25px 0 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button__text {
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: #fff;
}

.header__text-wrapper {
    text-align: left;
    margin: 200px 0 0 200px;
}

.header__heading {
    font-family: 'DM Serif Display', serif;
    font-size: 68px;
    font-weight: 400;
    line-height: 68px;
    margin-bottom: 50px;
}

.header__description {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    width: 400px;
}

.header__features-wrapper {
    display: flex;
    justify-content: space-around;
    margin: 200px 0 30px 0;
}

.feature {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #C4C4C41a;
    backdrop-filter: blur(1px);
    border-radius: 25px 0 25px 0;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.feature__shape {
    position: absolute;
    top: 0;
    left: 0;
}

.feature__description {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
}

/* section1 */

.section1 {
    display: flex;
    background-image: url(img/section1/wooden-table-with-dark-smoky\ 1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 200px;
}

.section1__image {
    /* flex: 1; */
    background-image: url(img/section1/side-view-chef-makes-raw-marbled-beef-steaks-stand\ 1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
}

.section1__text-wrapper {
    flex: 1;
    padding: 50px;
    /* background-color: red; */
}

.section1__text {
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    /* display: none; */
}

.section1__heading {
    font-weight: 400;
    font-size: 48px;
    line-height: 62px;
    font-family: 'DM Serif Display', serif;
    /* display: none; */

}

.section1__description {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    margin: 50px 0;
    width: 300px;
    /* display: none; */

}

.section__link {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    /* display: none; */

}

.section__link:hover .section__arrow {
    margin: 0 10px 0 10px;
}

.section__arrow {
    margin: 0 20px 0 0;
    transition: .3s;
}


.section2 {
    background-color: #000;
    position: relative;
}

.section2__heading {
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 62px;
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
}

.section2__icon {
    position: absolute;
    top: -60px;
    left: -100px;
}

.carousel {
    display: flex;
    width: 100%;
    position: relative;
}

.carousel__item {
    flex: 1;
    position: relative;
    overflow: hidden;
    /* height: 500px; */
    /* background-position: center; */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
}

.carousel__item--1 {
    /* background-image: url(img/section2/A9bvmb8k_1u5w86s_a7k\ 1.png); */
    opacity: .7;
}

.carousel__item--2 {
    /* background-image: url(img/section2/A931vobz_1u5w85b_a7k\ 2.png); */
}

.carousel__item--3 {
    /* background-image: url(img/section2/A9bvmb8k_1u5w86s_a7k\ 1.png); */
    opacity: .3;
}

.carousel__image {
    width: 100%;
    transform: scale(105%);
}

.carousel__text-wrapper {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #17181A99;
    width: 100%;
    padding: 30px;
}

.carousel__text {
    font-family: 'DM Serif Display', serif;
    font-size: 36px;
    line-height: 62px;
}

.section__link--carousel {
    display: block;
    text-align: right;
}

.carousel__circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #FF000890;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: .3s;
}

.carousel__circle:hover {
    background-color: #FF0008;
}

.section3 {
    /* height: 500px; */
    background-image: url(img/section3/curvy-narrow-muddy-road-dark-forest-surrounded-by-greenery-little-light-coming-from\ 1.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    text-align: center;
    padding: 100px;
}

.section3__ellipse1 {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 100%;
}

.section3__ellipse2 {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 100%;
}

.section3__text1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.section3__text2 {
    font-weight: 400;
    font-size: 48px;
    line-height: 68px;
    font-family: 'DM Serif Display', serif;
    margin: 70px 0;
}

.section3__text3 {
    font-weight: 400;
    font-size: 110px;
    line-height: 68px;
    font-family: 'DM Serif Display', serif;
    position: relative;
    display: inline;
}

.section3__icon1 {
    position: absolute;
    right: -80px;
    top: 10px;
}

.section3__icon2 {
    position: absolute;
    left: 0;
    bottom: -30px;
    ;
}

.section3__text4 {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    padding: 0 100px;
    margin-top: 150px;
}

.section4 {
    background-color: #1F1C1D;
    position: relative;
    overflow: hidden;
}

.section4__meat {
    position: absolute;
    top: -200px;
    left: -50px;
}

.section4__man {
    position: absolute;
    top: -100px;
    right: 0;
}

.section4__men-wrapper {
    /* position: relative; */
    /* bottom: 0; */
    /* left: 0; */
    /* background-color: #fff; */
    height: 700px;
    overflow: hidden;
}

.section4__man1 {
    position: absolute;
    top: 80px;
    left: -50px;
    z-index: 2;
}

.section4__man2 {
    position: absolute;
    top: 120px;
    left: 200px;
    z-index: 1;
}

.section4__element1 {
    position: absolute;
    top: 60px;
    left: 900px;
}

.section4__text-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    margin: 100px;
}

.section4__text {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.section4__names {
    font-family: 'Reenie Beanie', cursive;
    font-size: 64px;
    line-height: 72px;
    margin-top: 30px;
}

.section4__element2 {
    position: absolute;
    bottom: -20px;
    right: -30px;
}

.footer {
    background-color: #17181A;
    padding: 50px 50px 20px 50px;
}

.footer__content {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.footer__media {
    flex: 1;
    align-self: flex-start;
}

.media__icons {
    display: flex;
    align-items: center;
}

.media__icon {
    margin-right: 30px;
}

.media__description {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    margin-top: 30px;
    padding-right: 200px;
}


.footer__logo {
    flex: 1;
}

.footer__certificates {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.certificate {
    margin-left: 30px;
}

.footer__text {
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 12px;
}






/* animations */

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(50px);
    }
}