/* 
font-family: 'DM Serif Display', serif;
font-family: 'Roboto Condensed', sans-serif; 
400, 700
font-family: 'Roboto Slab', serif;
300, 700
font-family: 'Reenie Beanie', cursive;
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    background-color: #000;
    overflow-x: hidden;

    /* max-width: 1440px; */
}

.length1 {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    height: 20px;
    width: 1112px;
    background-color: #ffffff80;
    z-index: 999999;
}

.length2 {
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    height: 20px;
    width: 1440px;
    background-color: #ff000080;
    z-index: 999999;
}

.length3 {
    position: fixed;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    height: 20px;
    width: 1680px;
    background-color: #00ff0080;
    z-index: 999999;
}

.length4 {
    position: fixed;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    height: 20px;
    width: 100%;
    background-color: #0000ff80;
    z-index: 999999;
}

.first-line::after {
    content: "\a";
    white-space: pre;
}

.bold-text {
    font-weight: 700;
}

.letter-spacing-text {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 4px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.section__heading {
    font-family: 'DM Serif Display', serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 62px;
}

/* navigation */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 30px;
    background-color: #2C2C2C80;
    backdrop-filter: blur(1px);
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    z-index: 999;

    /* max-width: 1440px; */
}

.navbar__logo-wrapper {
    display: flex;
    align-items: center;
}

.navbar__logo {
    margin-right: 30px;
}

.menu {
    flex: 1;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.menu__item {
    padding-right: 50px;
}

.menu__link {
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 700px;
    text-transform: uppercase;
    text-decoration: none;
    transition: .3s;
}

.menu__link:hover {
    color: #ff0000;
}

.language {
    position: relative;
}

.language__item {
    display: none;
}

.language__item--active {
    display: block;
}

.language__arrow {
    position: absolute;
    top: 46px;
    left: 50%;
    height: 5px;
    transform: translateX(-50%);
    cursor: pointer;
    transition: .3s;
}

.language__arrow:hover {
    height: 8px;
}

/* header */

.header {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.header__logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.header__meat1 {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.header__meat2 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -2;
}

.header__pepper {
    position: absolute;
    top: 60%;
    left: 36%;
}

.header__sausages {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.button {
    position: absolute;
    right: 0;
    top: 30%;
    width: 80px;
    height: 160px;
    transform: translateY(0);
    background-color: #fff;
    border-radius: 25px 0 25px 0;
    cursor: pointer;
    animation: bounce 1s alternate cubic-bezier(.5, 0.05, 1, .5) infinite;
}

.button__icon {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button__element {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #ff0000;
    border-radius: 25px 0 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button__text {
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: #fff;
}

.header__text-wrapper {
    text-align: left;
    margin: 200px 0 0 200px;
}

.header__heading {
    font-family: 'DM Serif Display', serif;
    font-size: 68px;
    font-weight: 400;
    line-height: 68px;
    margin-bottom: 50px;
}

.header__description {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    width: 400px;
}

.header__features-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 200px 0 30px 0;
}

.feature {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #C4C4C41a;
    backdrop-filter: blur(1px);
    border-radius: 25px 0 25px 0;
    padding: 0 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.feature__shape {
    position: absolute;
    top: 0;
    left: 0;
}

.feature__description {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
}

/* section1 */

.section1 {
    display: flex;
    background-image: url(img/section1/smoky.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 200px;
}

.section1__image {
    flex-basis: 50%;
    background-image: url(img/section1/steaks.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section1__text-wrapper {
    flex: 1;
    padding: 50px;
    margin-bottom: 50px;
}

.section1__text {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}

.section1__description {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin: 50px 0;
}

.section__arrow {
    margin: 0 20px 0 0;
    transition: .3s;
}

.letter-spacing-text:hover .section__arrow {
    margin: 0 10px 0 10px;
}

/* section2 */

.section2 {
    position: relative;
}

.section__heading--section2 {
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 460px;
    text-align: center;
}

.section2__element {
    position: absolute;
    top: -60px;
    left: -100px;
}

.carousel {
    position: relative;
    width: 100%;
    display: flex;
}

.carousel__item {
    flex: 1;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .3s;
}

.carousel__item--1 {
    opacity: .5;
}

.carousel__item--2 {}

.carousel__item--3 {
    opacity: .5;
}

.carousel__item:hover {
    opacity: 1;
}

.carousel__image {
    width: 100%;
    transform: scale(105%);
}

.carousel__text-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 30px;
    background-color: #17181A99;
}

.carousel__text {
    font-family: 'DM Serif Display', serif;
    font-size: 36px;
    line-height: 62px;
}

.letter-spacing-text--carousel {
    display: block;
    text-align: right;
}

.carousel__circle {
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #FF000890;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s;
}

.carousel__circle:hover {
    background-color: #FF0008aa;
}


/* section3 */

.section3 {
    position: relative;
    text-align: center;
    padding: 100px;
    background-image: url(img/section3/forest.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.section3__ellipse1 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.section3__ellipse2 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.section__heading--3 {
    margin: 50px 0;
}

.section3__text3 {
    position: relative;
    font-family: 'DM Serif Display', serif;
    font-size: 110px;
    font-weight: 400;
    line-height: 68px;
    display: inline;
}

.section3__element1 {
    position: absolute;
    top: 10px;
    right: -80px;
}

.section3__element2 {
    position: absolute;
    bottom: -30px;
    left: 0;
}

.section3__text4 {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    padding: 0 100px;
    margin-top: 150px;
}

/* section4 */

.section4 {
    position: relative;
    background-color: #1F1C1D;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
}

.section4__meat {
    position: absolute;
    top: -200px;
    left: -50px;
}

.section4__old-man {
    position: absolute;
    top: -100px;
    right: 0;
}

.section4__men-wrapper {
    flex: 1;
    position: relative;
    height: 700px;
    background-color: red;
}

.section4__man1 {
    position: absolute;
    bottom: -40px;
    left: -50px;
    z-index: 2;
}

.section4__man2 {
    position: absolute;
    bottom: -120px;
    left: 200px;
    z-index: 1;
}

.section4__element1 {
    position: absolute;
    top: 60px;
    left: 900px;
}

.section4__text-wrapper {
    position: relative;
    text-align: center;
    margin: 40px;
    padding-bottom: 20px;
    background-color: green;
    z-index: 1;
}

.section4__names {
    font-family: 'Reenie Beanie', cursive;
    font-size: 64px;
    line-height: 72px;
    margin-top: 30px;
}

.section4__element2 {
    position: absolute;
    bottom: 0;
    right: -20px;
}

/* footer */

.footer {
    background-color: #17181A;
    padding: 50px 50px 20px 50px;
}

.footer__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__media-wrapper {
    flex: 1;
    align-self: flex-start;
}

.media {
    display: flex;
    align-items: center;
}

.media__icon {
    margin-right: 30px;
    transition: .3s;
}

.media__icon:hover {
    transform: scale(1.2);
}

.media__description {
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    margin-top: 30px;
    padding-right: 200px;
}

.footer__logo {
    flex: 1;
}

.footer__certificates {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.certificate {
    margin-left: 30px;
}

.footer__text-wrapper {
    font-family: 'Roboto Slab', serif;
    font-size: 12px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}

/* animations */

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(50px);
    }
}

/* media queries */

@media screen and (max-width: 1366px) {
    .header__sausages {
        height: 80%;
    }

    .header__text-wrapper {
        margin: 200px 0 0 100px;
    }

    .section4__man1 {
        bottom: 0;
        left: -100px;
        height: 90%;
    }

    .section4__man2 {
        bottom: -60px;
        left: 130px;
        height: 90%;
    }

    .section4__element1 {
        top: 60px;
        left: 760px;
    }

    .section4__text-wrapper {
        margin: 20px;
    }
}

@media screen and (max-width: 1112px) {
    .navbar__logo {
        height: 100px;
    }

    .navbar__name {
        height: 70px;
    }

    .header__sausages {
        height: 70%;
    }

    .header__text-wrapper {
        margin: 200px 0 0 50px;
    }

    .section4__man1 {
        left: -130px;
        height: 80%;
    }

    .section4__man2 {
        bottom: -60px;
        left: 90px;
        height: 80%;
    }

    .section4__names {
        margin-top: 20px;
    }
}

@media screen and (max-width: 1024px) {
    .navbar__logo {
        height: 80px;
    }

    .navbar__name {
        height: 50px;
    }

    .header__sausages {
        height: 64%;
    }

    .header__text-wrapper {
        margin: 200px 0 0 50px;
    }
}